{% extends 'base.html' %}

{% block page_content %}

{% include 'sidebar_handbook.html' %}

<h1 style="margin: 10% auto auto 15%">Справочник</h1>

<div class="content-container">
    <br>
    <div id="handbook-content">
        {% regroup notes by name.0 as grouped_notes %}
        {% for group in grouped_notes %}
            <div class="category-section">
                <h2>{{ group.grouper|upper }}</h2>
                <div class="notes-list">
                    {% for note in group.list %}
                        <div class="note-item">
                            {% if category == 'spells' %}
                                <a class="note-link" href="{% url 'spell_detail' note.id %}">➤ {{ note.name }}</a>
                            {% elif category == 'monsters' %}
                                <a class="note-link" href="{% url 'monster_detail' note.id %}">➤ {{ note.name }}</a>
                            {% elif category == 'magic_items' %}
                                <a class="note-link" href="{% url 'magic_item_detail' note.id %}">➤ {{ note.name }}</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<style>
    h1 {
        font-weight: bold;
        text-align: center;
        color: #6E1D26;
        margin-top: 5%;
    }

    .content-container {
        max-width: 75%;
        background-color: #DFDBCF;
        margin: auto 5% 2% 25%;
        padding: 20px;
        border-radius: 8px;

    }

    .category-section {
        margin-bottom: 30px;
    }

    .category-section h2 {
        font-size: 24px;
        color: #6E1D26;
        border-bottom: 2px solid rgba(110, 29, 38, 0.5);
        padding-bottom: 8px;
        margin-bottom: 10px;
    }

    .notes-list {
        padding-left: 0;
        margin: 0;
    }

    .note-item {
        margin-bottom: 10px;
    }

    .note-link {
        display: block;
        font-size: 18px;
        text-decoration: none;
        color: #6E1D26;
        font-weight: bold;
        padding: 8px;
        border-radius: 4px;
        transition: background-color 0.3s, color 0.3s;
    }

    .note-link:hover {
        color: #ffffff;
        background-color: #6E1D26;
    }

    .note-link:focus {
        outline: none;
        box-shadow: 0 0 0 2px #A52A2A;
    }
</style>

{% endblock %}
