{% extends 'base.html' %}

{% block page_content %}
<div class="container">
    <h2>Полученные запросы на добавление в друзья</h2>
    <ul>
        {% for request in friend_requests %}
            <li>
                {{ request.sender.username }} 
                <a href="{% url 'respond_friend_request' request.id 'accept' %}">Принять</a> | 
                <a href="{% url 'respond_friend_request' request.id 'decline' %}">Отклонить</a>
            </li>
        {% empty %}
            <li>Тут пусто :(</li>
        {% endfor %}
    </ul>
    <hr>
        <h2>Отправленние запросы на добавление в друзья</h2>
    <ul>
        {% for request in friend_requests2 %}
            <li>
                {{ request.sender.username }}
                <a href="{% url 'respond_friend_request' request.id 'accept' %}">Принять</a> |
                <p>Статус запроса: {{ request.sender.username }}</p>
            </li>
        {% empty %}
            <li>Тут пусто :(</li>
        {% endfor %}
    </ul>

</div>

<style>
    .container {
        max-width: 75%;
        background-color: #DFDBCF;
        border: 3px solid #6E1D26;
        margin: 10% 10% 3% 10%;
        padding: 10px 5% 60px 5%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
</style>
{% endblock %}
