
{% extends 'base.html' %}

{% block page_content %}


<div class="container">
    <h2>Ваши друзья</h2>
<ul>
    {% for friend in friends %}
        <li>
            <a href="{% url 'show_user_dashboard' friend.id %}">{{ friend.username }}</a>
        </li>
    {% empty %}
        <li>У вас пока нет друзей.</li>
    {% endfor %}
</ul>
</div>

<style>
      .container {
    max-width: 75%;
    background-color: #DFDBCF;
    border: 3px solid #6E1D26;
    margin: 10% 10% 3% 10%;
    padding: 10px 5% 60px 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

}
</style>

{% endblock %}
