{% extends 'base.html' %}

{% block page_content %}
<div class="container">
    <h1>Запрос на изменение: {{ monster.name }}</h1>
    {% if messages %}
            <ul>
                {% for message in messages %}
                    <li style="color: red;">{{ message }}</li>
                {% endfor %}
            </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-submit">Отправить запрос на изменение</button>
    </form>

    <a href="{% url 'monster_detail' monster.id %}">Отмена</a>
</div>

<style>
    .container {
        margin: 20% auto 5% auto;
    }
</style>

{% endblock %}