{% extends 'base.html' %}

{% block page_content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
        <h1>Мои заявки на изменение</h1>
    <ul>
        {% for req in requests %}
            <li>
                {{ req.content_object.name }} — статус: {{ req.get_status_display }} — {{ req.created_at }}
                <br>
                    <h4>Изменения:</h4>
                        <ul>
                            {% for key, value in req.changes.items %}
                            <li>

                                <strong>{{ key }}</strong>: <span style="color: green">{{ value }}</span>
                            </li>
                            {% endfor %}
                        </ul>
            </li>
        <hr>
        {% empty %}
            <li>Вы ещё не отправляли заявки.</li>
        {% endfor %}
    </ul>
{% endblock %}
