<div class="sidebar">
    <h2 class="sidebar-title">Категории</h2>
    <ul class="sidebar-list">
        <li class="sidebar-item"><a href="#" class="sidebar-link" onclick="activateButton(this, 'monsters')">Монстры</a></li>
        <li class="sidebar-item"><a href="#" class="sidebar-link" onclick="activateButton(this, 'magic_items')">Магические предметы</a></li>
        <li class="sidebar-item"><a href="#" class="sidebar-link" onclick="activateButton(this, 'spells')">Заклинания</a></li>
    </ul>
</div>



<script>
    function activateButton(button, category) {
    const allButtons = document.querySelectorAll('.sidebar-link');
    allButtons.forEach(btn => btn.classList.remove('active'));
    button.classList.add('active');

    const currentUrl = 'http://127.0.0.1:8000/handbook/';
    window.location.href = currentUrl + '?category=' + category; // Редирект на текущий URL с параметром category
}

function setActiveButton() {
    const urlParams = new URLSearchParams(window.location.search);
    const selectedCategory = urlParams.get('category');
    if (selectedCategory) {
        const activeButton = document.querySelector(`.sidebar-link[onclick*="${selectedCategory}"]`);
        if (activeButton) {
            activeButton.classList.add('active');
        }
    } else {

        const defaultButton = document.querySelector(`.sidebar-link[onclick*="monsters"]`);
        if (defaultButton) {
            defaultButton.classList.add('active');
        }
    }
}

window.onload = setActiveButton;

</script>

